#tqdm #remove or comment out like this
#numpy #remove
#numexpr #remove
h5py==3.1.0
opencv-python==4.5.1.48
ffmpeg-python==0.1.17
#scikit-image #remove
#scipy #remove
colorama
#tensorflow-gpu==2.5.0 #remove, the main culprit
tf2onnx==1.9.3
